corpora/deepspell*
corpora/_deepspell*
corpora/*.nds
corpora/*.NDS
corpora/*.sqlite
corpora/*.sqlite-journal
corpora/geonames/
!corpora/deepspell_minimal.tsv
.idea
.vscode/
__pycache__
logs
models/checkpoint
models-v2/
*.egg-info
venv/
.venv/
.pytest_cache/
.ruff_cache/
dist/
build/
