<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deep-spell: Neural Auto-Completion in NDS</title>
    <style>
        .course-headline {
            margin-left: 25%;
        }
        .heatmap {
            height: 100%;
            position: absolute;
            margin-left: 25%;
            overflow: auto;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class='w3-container' style='padding: 0'>
        <div class='w3-row w3-green' style="z-index: 10; padding-left: 16px">
            <h3>Deep-Spell: Neural FTS for NDS</h3>
            <h5>{{encoder_model_name}}</h5>
        </div>
        <div class="w3-row" style="z-index: 9">
            <div id='sidebar-main' class='w3-column w3-quarter'>
                <table class='w3-table-all w3-hoverable w3-tiny'>{{courses}}</table>
            </div>
            <div class='w3-container w3-column' style='padding: 0' id="detail-placeholder"></div>
        </div>
    </div>
</body>
</html>
