<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deep-spell: Neural Auto-Completion in NDS</title>
    <style>
        .course-headline {
            margin-left: 25%;
        }
        .heatmap {
            height: 100%;
            position: absolute;
            margin-left: 25%;
            overflow: auto;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class='w3-container' style='padding: 0'>
        <div class='w3-row w3-dark-grey' style="z-index: 10; padding-left: 16px">
            <h3 class="w3-green">Deep-Spell: Neural FTS for NDS</h3>
            <h5 class="w3-green">{{encoder_model_name}}</h5>
        </div>
        <div class="w3-row w3-container w3-grey"></div>
    </div>
</body>
</html>
